.tcul-star-restrict{
    color: red;
    font-size:12px;
}

.tcul-gradient-1{
    background-image: linear-gradient(135deg, #054E8E, #0B72CC);
   /* background-color:linear-gradient(135deg, #054E8E, #0B72CC) !important; */
}

.image-area img{
    max-width: 100%;
    height: auto;
}
.remove-image {
display: none;
/* position: absolute; */
top: 2px;
right: 2px;
border-radius: 5em;
padding: 2px 6px 3px;
text-decoration: none;
font: 500 10px/7px sans-serif;
background: #555;
border: 3px solid #fff;
color: #FFF;
box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
text-shadow: 0 1px 2px rgba(0,0,0,0.5);
-webkit-transition: background 0.5s;
transition: background 0.5s;
}
.remove-image:hover {
background: #E54E4E;
padding: 3px 7px 5px;
top: -11px;
right: -11px;
}
.remove-image:active {
background: #E54E4E;
top: -10px;
right: -11px;
}

/* Styling for focused inputs */
input:focus,
input.form-control:focus,
input:focus,
textarea:focus,
.form-control:focus,
.select2-container *:focus,
.select2-selection--multiple:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  border: 3px solid rgb(2, 8, 111);
}

/* Additional styling for specific classes */
.ck-focused {
  border: 3px solid rgb(2, 8, 111) !important;
}

.picker__input--active {
  border: 3px solid rgb(2, 8, 111) !important;
}

.picker__input:focus {
  border: 3px solid rgb(2, 8, 111) !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple:focus {
  border: 3px solid rgb(2, 8, 111) !important;
}

/* Styling for focused buttons */
.btn:focus {
  background: #E54E4E !important;
  color: #FFF !important;
}


.header-color{
  background: linear-gradient(90deg, rgb(20 104 178) 20%, rgba(68, 189, 236, 1) 100%);
}

    
    
